# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Server/.vs/ServerCore/v15/ipch/ef9f12159d06d073.ipch
Server/.vs/ServerCore/v15/ipch/a157d4a86f06cc97.ipch
Server/.vs/ServerCore/v15/ipch/c369117fa16cd747.ipch
Server/.vs/ServerCore/v15/Browse.VC.db
Server/.vs/ServerCore/v15/Solution.VC.db
Server/.vs/ServerCore/v15/Browse.VC.opendb
Server/.vs/ServerCore/v15/ipch/188b0d16155f7094.ipch
Server/.vs/ServerCore/v15/ipch/7fb242ae975d60aa.ipch
Server/.vs/ServerCore/v15/ipch/936f371c47adee6f.ipch
Server/.vs/ServerCore/v15/Solution.VC.db-shm
Server/.vs/ServerCore/v15/Solution.VC.db-wal
Server/ClockTest/ClockTest.vcxproj
Server/ClockTest/x64/Debug/ClockTest.tlog/CL.command.1.tlog
Server/ClockTest/x64/Debug/ClockTest.tlog/CL.read.1.tlog
Server/ClockTest/x64/Debug/ClockTest.tlog/CL.write.1.tlog
Server/ClockTest/x64/Debug/ClockTest.tlog/ClockTest.lastbuildstate
Server/ClockTest/x64/Debug/ClockTest.tlog/link.command.1.tlog
Server/ClockTest/x64/Debug/ClockTest.tlog/link.read.1.tlog
Server/ClockTest/x64/Debug/ClockTest.tlog/link.write.1.tlog
Server/ClockTest/x64/Debug/msado15.tli
Server/ClockTest/x64/Debug/vc141.idb
Server/DBTest/x64/Debug/DBTest.tlog/CL.command.1.tlog
Server/DBTest/x64/Debug/DBTest.tlog/CL.read.1.tlog
Server/DBTest/x64/Debug/DBTest.tlog/CL.write.1.tlog
Server/DBTest/x64/Debug/DBTest.tlog/DBTest.lastbuildstate
Server/DBTest/x64/Debug/DBTest.tlog/link.command.1.tlog
Server/DBTest/x64/Debug/DBTest.tlog/link.read.1.tlog
Server/DBTest/x64/Debug/DBTest.tlog/link.write.1.tlog
Server/DBTest/x64/Debug/msado15.tli
Server/DBTest/x64/Debug/vc141.idb
