# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Server/.vs/ServerCore/v15/ipch/ef9f12159d06d073.ipch
Server/.vs/ServerCore/v15/ipch/a157d4a86f06cc97.ipch
Server/.vs/ServerCore/v15/ipch/c369117fa16cd747.ipch
Server/.vs/ServerCore/v15/Browse.VC.db
Server/.vs/ServerCore/v15/Solution.VC.db
